* {
  box-sizing: border-box;
  font-family:sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: rgb(234, 190, 113);
}
.brand-title {
  font-size: 1.5rem;
  margin: .5rem;
}
.navbar-links {
  height: 100%;
}
.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}
.navbar-links li {
  list-style: none;
}
.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}
.navbar-links li:hover {
  background-color: rgb(233, 173, 84);
}
.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
.slider{
  margin-top: 60px;
}
.mainSlider{
  display: none;
  text-align: center;
  width: 100%;
  height: 550px;
  background-color: white;
}
.slider-img{
  width: 50%;
  height: 500px;
}
img {
  vertical-align: middle;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/* Caption text */
.text {
  color: rgb(195, 138, 55);
  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  transition: background-color 0.6s ease;
}
.position-dot{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.active {
  background-color:rgb(234, 190, 113);
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.diagram{
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.chart{
  width: 100%;
  max-width: 600px;
}
.selector-country{
  margin-bottom: 50px;
}
.selector-button{
  color: rgb(195, 138, 55);
  border-radius: 15px;
  margin-left: 5px;
}
.selector-label{
  color: #db884d;
  margin-left: 10px;
}
.news-table{
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color: rgb(195, 138, 55);
}
td, th {
  border: 1px solid rgb(234, 190, 113);
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: rgb(234, 190, 113);
  color: white;
}
/* Float four columns side by side */
.column {
  float: left;
  width: 33.33%;
  padding: 0 10px;
}
/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgb(195, 138, 55);
  padding: 16px;
  text-align: center;
  background-color: white;
  color: rgb(195, 138, 55);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.col-container {
  display: table;
  width: 100%;
}
.col {
  display: table-cell;
  padding: 16px;
}
.position-card{
  width: 100%;/*whatever size you want your container*/
  display: flex; /*Make sure to call this on your container*/
  align-items: stretch; /*stretches all cards same height*/
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;  
}
.footer-list{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.news-cards{
  margin-top: 150px;
  margin-right: 90px;
  margin-left: 90px;
}
.news-link{
  color: salmon;
}
.news-icon{
  width: 50px;
  height: 50px;
}
.myFooter{
  color: white;
  background-color: rgb(195, 138, 55);
  margin-top: 150px;
}
.footer-item{
  margin-right: 10px;
}
.footer-text{
  margin-bottom: 0%;
}
.footer-item p{
  margin-top: 0%;
}
.footer-input{
  border-radius: 5px;
  color: salmon;
  margin-bottom: 15px;
}
.footer-icon{
  width: 50px;
  margin-top: 30px;
}
@media (max-width: 1500px){
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgb(195, 138, 55);
    padding: 16px;
    text-align: center;
    background-color: white;
    color: rgb(195, 138, 55);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
  .col-container {
    display: table;
    width: 100%;
  }
  .col {
    display: table-cell;
    padding: 16px;
  }
  .position-card{
    width: 100%;/*whatever size you want your container*/
    display: flex; /*Make sure to call this on your container*/
    align-items: stretch; /*stretches all cards same height*/
    flex-direction: column;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;  
  }
}
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links ul li {
    float: left;
  }
  .navbar-links ul li a {
    padding: .5rem 1rem;
  }
  .navbar-links.active {
    display: flex;
  }
  .slider-img{
    width: 100%;
    height: 450px;
  }
  .news-table{
    margin-left: 10px;
    margin-right: 10px;
  }
  .news-table th{
    font-size: 16px;
  }
  .news-table td{
    font-size: 16px;
  }
  .news-cards{
    margin-right: 5px;
    margin-left: 5px;
  }
  .footer-item h3{
    font-size: 17px;
  }
  .footer-item p{
    font-size: 16px;
  }
  .footer-text{
    padding-left: 15px;
  }
  .footer-textarea{
    width: 50%;
  }
  .diagram{
    margin-top: 70px;
  }
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
  .diagram{
    margin-top: 70px;
  }
}
/* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
    .diagram{
      margin-top: 70px;
    }
  }
  @media screen and (max-width: 1100px) {
    .brand-title {
      font-size: 1.1rem;
      margin: .5rem;
    }
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
    .slider-img{
      width: 90%;
      height: 500px;
    }
  }